<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Welcome!</title>
</head>
<body>
    <div id="accordion">
        <div class="card">
            <div class="card-header" id="headingText">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseText" aria-expanded="true" aria-controls="collapseText">
                        Search by pasting text
                    </button>
                </h5>
            </div>
            <div id="collapseText" class="collapse" aria-labelledby="headingText" data-parent="#accordion">
                <div class="card-body">
                    <form action="/upload/text" method="post" enctype="multipart/form-data">
                        <div>
                            <label for="inputText">Input your text: </label>
                            <textarea name="inputText" id="inputText"></textarea>
                            <br>
                            <label for="keywordText">Keyword: </label>
                            <input type="text" name="keywordText" id="keywordText" placeholder="positif">
                            <br>
                            <label for="algorithmText">Choose an algorithm: </label>
                            <br>
                            <input type="radio" name="algorithmText" id="KMP" value="KMP" checked>
                            <label for="KMP">KMP</label>
                            <br>
                            <input type="radio" name="algorithmText" id="BM" value="BM">
                            <label for="BM">BM</label>
                            <br>
                            <input type="radio" name="algorithmText" id="Regex" value="Regex">
                            <label for="Regex">Regex</label>
                            <br>
                            <input type="submit">
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header" id="headingFile">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseFile" aria-expanded="false" aria-controls="collapseFile">
                        Search by uploading file(s)
                    </button>
                </h5>
            </div>
            <div id="collapseFile" class="collapse show" aria-labelledby="headingFile" data-parent="#accordion">
                <div class="card-body">
                    <form action="/upload/file" method="post" enctype="multipart/form-data">
                        <div>
                            <label for="inputFiles">Select file(s): </label>
                            <input type="file" name="inputFiles" id="inputFiles" multiple>
                            <br>
                            <label for="keywordFile">Keyword: </label>
                            <input type="text" name="keywordFile" id="keywordFile" placeholder="positif">
                            <br>
                            <label for="algorithmFile">Choose an algorithm: </label>
                            <br>
                            <input type="radio" name="algorithmFile" id="KMP" value="KMP" checked>
                            <label for="KMP">KMP</label>
                            <br>
                            <input type="radio" name="algorithmFile" id="BM" value="BM">
                            <label for="BM">BM</label>
                            <br>
                            <input type="radio" name="algorithmFile" id="Regex" value="Regex">
                            <label for="Regex">Regex</label>
                            <br>
                            <input type="submit">
                        </div>
                    </form>
                </div>
              </div>
        </div>
    </div>
    

    <div>
        {% if keyword | length %}
            <p>Keyword: {{ keyword }}</p>
        {% endif %}        
        {% if algorithm | length %}
            <p>Algorithm: {{ algorithm }}</p>
        {% endif %}        
        {% for i in range(fileNames | length) %}
            <h2>{{ fileNames[i] }}</h2>
            {% for j in range(foundSentences[i] | length) %}
                <p>{{ foundCounts[i][j] }}</p>
                <p>{{ foundDates[i][j] }}</p>
                <p>{{ foundSentences[i][j] | safe }}</p>
            {% endfor%}
        {% endfor %}
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>